---
layout: default
---
<div id="table">
    <div id="pagename">
    	<h2>MainPortFolio.page<h2>
    </div>
{% for post in site.posts %}

    <div id="post-meta">
	{{post.title}}</br>
	{{post.projectdue}}</br>
	{{post.date}}
    </div>

    <div id="post-summary">
	<a href ="{{site.baseurl}}{{post.url}}">
	{% assign words = post.content | split: " " %}
	{% assign counter = post.content | number_of_words %}
	{% for i in (0..counter) %}
		{% if words[i] contains '斷' %}
			{% for j in (0..i) %}
				{{ words[j] }}
			{% endfor %}
			{% break %}
		{% endif %}
	{% endfor %}
	</a>
    </div>
{% endfor %}

</div>



