<nav>
    <div class="nav" style="position: fixed;top: 0;right: 0;height: 120px; width: 70px; ">
        <div class="menu" style="position:fixed; background-color:red; top:0; right:0; " >menu</div>
        <div class="post" style="position:fixed; background-color:red; top:30px; right:0; opacity:0;">post</div>
        <div class="about"style="position:fixed; background-color:red; top:30px; right:0; opacity:0;">about</div>
        <div class="portfolio" style="position:fixed; background-color:red; top:30px; right:0; opacity:0;">portfolio</div>
        <div class="contect" style="position:fixed; background-color:red; top:30px; right:0; opacity:0;">contact</div>
    </div>
</nav>

