<nav>
    <div class="nav">
        <div class="menu">menu</div>
	<div class="post"><a href="{{site.baseurl}}/index.html">post</a></div>
		<!--div class="submenu">		
			<div class='posts' >mortgage_ios</div>
			<div class='posts' >health_ios</div>
			<div class='posts' >loginclass_php</div>
		</div-->

        <div class="about">about</div>
        <div class="portfolio">portfolio
		<div class="submenu">		
			<div class='proj'><a href="{{site.baseurl}}/portfolio/mortgate/AppDelegate.html">mortgage_ios</a></div>
			<div class='proj'><a href="{{site.baseurl}}/portfolio/healthapp/.html">health_ios</a></div>
			<div class='proj'><a href="{{site.havsurl}}/portfolio/loginClass/">loginclass_php</a></div>
		</div>
	</div>
        <div class="contect" >contact</div>
    </div>
</nav>

