<!DOCTYPE html>
<html lang = "ko">
<head>
	<meta charset="utf-8">
	<title>LOG</title>
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="{{site.baseurl}}/js/nav.js"></script>
</head>
<body>
	<header>
		<div class="navigate" style="display:inline; background-color:red;">
			<ul class="all-posts" style="display:none;">
			{% for post in site.posts %}
				<li class="{{post.title}}">{{post.title}}</li>
			{% endfor %}
			</ul>
			testing
		</div>
		

	</header>

	<div class = "content">{{content}}</div>
</body>
</html>

